h2 {
  text-align: center;
}

#body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#rightContainer {
  width: 40%;
  border: 1px solid black;
  height: 200px;
}

#leftContainer {
  width: 40%;
  border: 1px solid black;
  height: 200px;
}

.textBox {
  text-align: center;
}

.image {
  height: 100%;
  width: 100%;
}

#previous {
  float: left;
}

#next {
  float: right;
}

button {
  height: 40px;
}
