.App {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

button {
  background-color: antiquewhite;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0px 2px 2px;
}
