.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 80px;
  width: fit-content;
  margin: 0 auto;
}

.navbar {
  padding: 16px 32px;
  margin-bottom: 32px;
  background: rgb(237, 170, 158);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-button {
  padding: 8px;
  font-size: 20px;
  background: rgb(210, 239, 243);
}

.cart {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
  position: absolute;
  right: 32px;
  top: 90px;
  padding: 12px;
  background: white;
  overflow: auto;
}

.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
