#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.light-box {
  background-color: white;
  height: 300px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.light {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}

.red.active {
  background-color: red;
  border: 1px solid black;
}

.yellow.active {
  background-color: yellow;
  border: 1px solid black;
}

.green.active {
  background-color: green;
  border: 1px solid black;
}
