.background-div {
  height: 250px;
  width: 100%;
  background-color: rgba(155, 209, 252, 0.546);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.content-div {
  background: transparent;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
}

.home-favorites {
  font-size: 4rem;
  padding-top: 1020px;
  background-color: transparent;
}

.sub-title {
  font-size: 1.25rem;
  display: flex;
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  background-color: transparent;
}

.search-bubbles {
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  background-color: transparent;
}

.shop {
  display: flex;
  gap: 20px;
}

.fall-decor-container {
  font-size: 2rem;
  display: flex;
  margin-top: 50px;
}

.filter-btn {
  align-self: flex-start;
  margin-left: -25px;
  margin-bottom: 30px;
}

.btn {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 30px;
  padding: 7px;
  font-size: 0.75rem;
  font-weight: bold;
  width: 85px;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 1px 1px 10px 1px rgba(242, 208, 163, 0.872);
}

/* .discover-title {
  font-size: 1.75rem;
  font-family: sans-serif;
  text-decoration: underline;
  font-weight: bold;
}

.tiles-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-center;
  margin-top: 20px;
} */
