html {
  background-color: white;
}

nav {
  background-color: darkcyan;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.title {
  font-size: 3rem;
}

.links {
  font-size: 1.3rem;
  display: flex;
  gap: 30px;
}

.cart {
  display: flex;
  gap: 30px;
}

button {
  font-size: 1.3rem;
}

#profile {
  background-color: darkcyan;
  color: white;
  border: none;
}

#cart {
  background-color: white;
  border-radius: 20px;
  padding: 5px 15px;
  color: darkcyan;
}

.store-container {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-container {
  border: 1px solid black;
  height: 350px;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#item-image {
  height: 100%;
  object-fit: contain;
}

.item-info {
  background-color: black;
  color: white;
  height: 10%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
