.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: white;
  align-items: center;
}

.main {
  width: 500px;
  height: 100px;
  margin: 10px;
  border: 1px solid rgb(83, 140, 219);
  background-color: rgb(124, 168, 231);
}
