.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 0 550px;
  padding: 20px;
  border: 1px solid black;
}

.line {
  display: flex;
  gap: 7px;
  margin: 10px 0;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

.text {
  width: 170px;
}

input::placeholder {
  color: rgb(183, 183, 183);
}

.submit {
  padding: 5px;
  margin-top: 10px;
}
