.expense-navbar {
  display: flex;
  margin: 20px 40px;
  font-size: 2rem;
}

.expense-tracker-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.add-btn {
  font-size: 1.3rem;
}

.transaction-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

form {
  height: 450px;
  width: 500px;
  background-color: mediumaquamarine;
  border-radius: 15px;
  padding: 20px;
  color: white;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.date-and-transaction-type {
  display: flex;
  justify-content: space-between;
}

.type,
.date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.type button {
  font-size: 1rem;
}

.amount,
.location,
.category,
.notes {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 6px;
  font-size: 1.1rem;
  text-indent: 4px;
  padding: 2px;
  padding-top: 3px;
}

input::placeholder {
  color: rgb(114, 114, 114);
}

.date input {
  font-size: 1rem;
  color: rgb(180, 178, 178);
}

select {
  background-color: white;
  border-radius: 6px;
  text-indent: 2px;
  font-size: 1.1rem;
  color: rgb(180, 178, 178);
  padding-top: 3px;
}

textarea {
  max-height: 100px;
  height: 100px;
  min-width: 500px;
  max-width: 500px;
  border-radius: 6px;
  text-indent: 6px;
  color: rgb(114, 114, 114);
  font-size: 1rem;
  padding-top: 3px;
}

.add-transaction {
  font-size: 1.3rem;
}
