.main-div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 1.5rem;
}

.welcome-content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.welcome-div {
  height: 50%;
  width: 40%;
  background-color: mediumaquamarine;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 380px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  gap: 20px;
  color: white;
  min-width: 390px;
}

.welcome-text button {
  font-size: 1.5rem;
  background-color: teal;
  color: white;
}

.welcome-text button:hover {
  color: rgb(245, 245, 187);
}
